body {
    background-color: #171727;
    color: #fff;
}

.container {
    background-color: #2a2a46;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: #ff69b4;
}

ul {
    background-color: #36365d;
    padding: 20px;
    border-radius: 10px;
    list-style-type: none;
}

li {
    color: #ff69b4;
    margin-bottom: 10px;
}

a {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}