body {
    background-color: #171727;
    color: #fff;
}

.container {
    background-color: #2a2a46;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: #ff69b4;
}

form {
    background-color: #36365d;
    padding: 20px;
    border-radius: 10px;
}

label {
    color: #ff69b4;
}

input[type="file"],
input[type="number"] {
    background-color: #36365d;
    border: none;
    color: #fff;
}

button {
    background-color: #ff69b4;
    border: none;
    color: #171727;
}

button:hover {
    background-color: #ff69b480;
}
